PORT=3001
DB_URI=mongodb://root:password@localhost:27017/revolico?authSource=admin
DB_ROOT_PASSWORD=password
DB_ROOT_USERNAME=root
DB_NAME=booking
VOL_DIR=/srv/volumes
NODE_ENV=development
TIME_OUT=300
REDIS_URL=redis://localhost:6379
BULL_BOARD_USER=admin
BULL_BOARD_PASSWORD=admin
PRODUCT_URLS_BATCHSIZE=30
PRODUCT_STORAGE_BATCHSIZE=50
BULL_AREANA_URL=/arena
TENANT_DB_URL=postgresql://revolico:revolico@localhost:5432/revolico
GOOGLE_ISSUERS=https://accounts.google.com,accounts.google.com
GOOGLE_JWKS_URI=https://www.googleapis.com/oauth2/v3/certs
JWT_SECRET=change-me-to-a-random-secret
JWT_EXPIRATION=1d
SUPER_ADMIN_EMAIL=admin@scrapper.local
SUPER_ADMIN_PASSWORD=ChangeMe123
GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID
FACEBOOK_ISSUERS=https://www.facebook.com,https://facebook.com
FACEBOOK_JWKS_URI=https://www.facebook.com/.well-known/oauth/openid/jwks/
FACEBOOK_CLIENT_ID=YOUR_FACEBOOK_CLIENT_ID