node_modules
npm-debug.log.*
.env
dist

######################
# folders to store test snapshot
######################
tmp/
######################
# ESLint
######################
.eslintcache

######################
# Visual Studio Code
######################
.vscode/
